<div>
  <label for="main">Value 1</label>
  <input type="range" id="main" min="-10" value="10" max="50" step=".01">
  <label for="pre1">Value 2</label>
  <input type="range" id="pre1" min="-10" value="10" max="50" step=".01">
  <label for="main">Value 3</label>
  <input type="range" id="pre2" min="-10" value="10" max="50" step=".01">
</div>
