div
  p
    label(for="main") Actual
    input(type="range" id="main" min="-10" value="10" max="50" step=".1" width=10)
  p
    label(for="pre1") Night
    input(type="range" id="pre1" min="-10" value="10" max="50" step=".1")
  p
    label(for="pre2") Day
    input(type="range" id="pre2" min="-10" value="10" max="50" step=".1")
