
.gauge {
  padding: 10%;
}

.gauge svg {
  max-width: 100%;
}

/* .gauge path {
  stroke-width: 75;
  stroke: #ecf0f1;
  fill: none;
} */

.gauge text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.draggable {
  cursor: move;
}
